﻿@page "/hiredProducts"

@using CustomersProducts.WebUI.Data
@using CustomersProducts.Domain.ViewModels
@inherits CustomersListBase

<h1>Customers hired products</h1>

@if (Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <label>Customer: </label>
    <select @onchange="LoadCustomerProducts">
        @if (Customers != null)
        {
            <option>Chose Customer</option>
            @foreach (var customer in Customers)
            {
                <option value="@customer.Id">@customer.FamilyName @customer.GivenName</option>
            }
        }
    </select>

    @if (CustomerProducts != null)
    {
        <p><label>Hired products: </label></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Numeration</th>
                    <th>Sold date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in CustomerProducts)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.ProductTypeName</td>
                        <td>@product.NumeracioTerminal</td>
                        <td>@product.SoldAt</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}